@(lista: List[Reporte],formu:Form[Formulario],temas:List[String])

@import views.html.include._
@import helper._
@import bootstrap3._


@main("Lista de Reporte",8){
<body class="perfil">



<br>

<legend class="text-center">	@if(flash.containsKey("correct")) {
	<p style="color: green">
		@flash.get("correct")
	</p>
}</legend>

 <div class="content_white">

	  <h2>Tabla de Reporte! </h2>


	</div>

	@if(lista.size()>0){
@form(routes.principal.TemasReporte()) {
<form action="" method="POST">
	        <div class="input-group">
	        
	            <span class="input-group-btn">
	             
	             <button type="submit" id="submit" class="btn btn-primary ">buscar</button>
	            </span>
	             @selector(formu("area"),temas)
	        </div>
	</form>
    <br>
    }


	<div class="contenedor-de-proyectos">
		<table class="table table-striped table-hover ">
		  <h3 class="tabla"></h3>
		  <thead>
		    <tr>
		      <th>N_reporte</th>
		      <th>fecha</th>
		      <th>tipo_reporte</th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>

		  @for(reporte <- lista){
		    <tr>
		      <td>@reporte.N_reporte</td>
		      <td>@reporte.fecha</td>
		      <td>@reporte.tipo_reporte</td>
		     
		     
		    
		      <td><a href="@routes.principal.VerReporte(reporte.N_reporte)" class="btn btn-primary btn-xs">ver</a></td>
		       @if(session.get("nivel_A")=="Administrador"){
		        <td><a href="@routes.principal.BorrarReporte(reporte.N_reporte)" class="btn btn-primary btn-xs">Borrar</a></td>
		        }
		    </tr>   
		     }
		  </tbody>
		</table> 


		
	</div>
	}
</body>
}