@(lista: List[Evento],formu:Form[Formulario],temas:List[String])


@import views.html.include._
@import helper._
@import bootstrap3._

@main("Eventos GIPAR",3){
  <body class="perfil">

 <div class="content_white">

	  <h2>Eventos!</h2>

	  <p>Eventos viejos y nuevos.</p>

	</div>

@if(lista.size()>0){
@form(routes.proyectos_Controlador.ListarTemaE()) {
<form action="" method="POST">
	        <div class="input-group">
	         
	            <span class="input-group-btn">
	             
	             <button type="submit" id="submit" class="btn btn-primary ">buscar</button>
	            </span>
	              @selector(formu("area"),temas)
	        </div>
	</form>
    }

  }

	<br>

    <!--  programa           -->
    <div class="cuerpo-de-articulos" style="    overflow: onl">

@for(evento <- lista){

	<div class="jumbotron1">
		  <h2 class="text-center"><b>@evento.proyecto.getNombre()</b></h2>
		  <p class="text-center">
		    @evento.proyecto.descripcion
		  </p>
		  <br>
		  <p class="text-center" style="color:green"><b>@evento.ubicacion</b></p>
              <p class="text-center" style="@evento.proyecto.C_estado()"><b>@evento.proyecto.getEstimado()</b></p>
 
 <br>
              @if(session.get("username")!=null){
              <a href="@routes.proyectos_Controlador.VerE(evento.proyecto.id)" class="btn btn-success" role="button">Mas información</a>
               
                @if((session.get("nivel_A")!="Normal" || evento.proyecto.coordinador.cod_G==Integer.parseInt(session.get("cod_G")))  && evento.proyecto.C_estado().compareTo("green")==0){
              <a href="@routes.proyectos_Controlador.agregarProyecto(evento.proyecto.id,2)" class="btn btn-primary" role="button">Modificar Evento</a>

		     }
		  }
		  
		</div>

     
 }



</div>
  </body>

}
