@(id:Integer,formulario:Form[Formulario],miembros:List[Miembro],Coordinadores:Map[String,String],programacion:List[Programacion],recursos:List[Recursos],asistencia:List[Asistencia_Evento],
premios:List[Reconocimiento],tipo:Integer)


@import views.html.include._
@import helper._
@import bootstrap3._


@main("Registro General",6){




<!--este esta miestra se arregla el problema-->



<body class="perfil">
	

	<form action="" method="post">
		
		<legend class="text-center">@if(flash.containsKey("invalid")) {
			<p style="color: red">
			@flash.get("invalid")
			</p>
}		</legend>


@form(routes.proyectos_Controlador.Participantes(id,tipo)) {
	


}
<div class="registro2">

		<table class="table table-striped table-hover ">
		  <h4 class="tabla"><b>Integrantes</b></h4>
		  <br>
		  <thead>
		    <tr>
		      
		      <th>Cedula</th>
		      <th>Nombre</th>
		      <th>Apellido </th>
		   @if(tipo==2){
		      <th>Comision </th>
		    }</tr>
		  </thead>
		  <tbody>
	    <tr>
		     
		     
		    </tr>
		@if(tipo==1){    

@for(persona <- miembros){
		     
		     <tr>
              <td>@persona.cedula()</td>
		      <td>@persona.nombreCompleto()</td>
		      <td>@persona.apellidos</td>
             </tr>
		       
    }}else{
@for(persona <- asistencia){
		     
		     <tr>
              <td>@persona.miembro.cedula</td>
		      <td>@persona.miembro.nombre</td>
		      <td>@persona.miembro.apellidos</td>
		      <td>@persona.comision</td>
             </tr>
		       
    }
     
    }
        	  </tbody>
		</table> 

<br>
<br>
@form(routes.proyectos_Controlador.Participantes(id,tipo)) {
@if(tipo==1){
	
<form action="" method="POST">
	        <div class="input-group">
	            @selectMultiple(formulario("escritores"),
                optionMap = Coordinadores,
                 isMultiple = true)

	            <span class="input-group-btn">
	             
	             <button type="submit" id="submit" class="btn btn-primary ">registrar</button>
	            </span>
	            
	        </div>
	</form>
    
    <br>
     <br>
  
  
}else{
	

 <div class="form-group">
      <label>Persona</label>
      @selector2(formulario("area"),miembros)
      <label>comision</label>
      @text(formulario("comision"),"titulo")

    </div>

 <button type="submit" class="btn btn-primary btn-block">Registrar</button>
}



}
</div>

<div class="registro2">
<br>

				<table class="table table-striped table-hover ">
		  <h4 class="tabla"><b>Recursos</b></h4>
		  <br>
		  <thead>
		    <tr>
		      
		      <th>Nombre del Recurso</th>
		     </tr>
		  </thead>
		  <tbody>
	    <tr>
		     
		     
		    </tr>
		   

@for(recurso <- recursos){
		     
		     <tr>
              <td>@recurso.recurso.recurso</td>
		      
             </tr>
		       
    }
     
    
        	  </tbody>
		</table> 


@form(routes.proyectos_Controlador.registrarRecurso(id,tipo)) {

	
<form action="" method="POST">
	        <div class="input-group">
	          @text(formulario("recurso"),"recursos")
	            <span class="input-group-btn">
	             
	             <button type="submit" id="submit" class="btn btn-primary ">Registrar</button>
	            </span>
	            
	        </div>
	</form>  
    <br>
     <br>
 }


</div>
<div class="registro2">
 	<table class="table table-striped table-hover ">
		  <h4 class="tabla"><b>Reconocimientos</b></h4>
		  <br>
		  <thead>
		    <tr>
		      
		      <th>Nombre del Reconocimiento</th>
		     </tr>
		  </thead>
		  <tbody>
	    <tr>
		     
		     
		    </tr>
		   

@for(premio <- premios){
		     
		     <tr>
              <td>@premio.premio</td>
		      
             </tr>
		       
    }
     
    
        	  </tbody>
		</table> 


@form(routes.proyectos_Controlador.registrarPremio(id,tipo)) {

	
<form action="" method="POST">
	        <div class="input-group">
	          @text(formulario("premio"),"reconocimiento")
	            <span class="input-group-btn">
	             
	             <button type="submit" id="submit" class="btn btn-primary ">Registrar</button>
	            </span>
	            
	        </div>
	</form>  

 }


</div>
<div class="registro2">
 	<table class="table table-striped table-hover ">
		  <h4 class="tabla"><b>Planificacion</b></h4>
		  <br>
		  <thead>
		    <tr>
		      
		      <th>N°</th>
		      <th>Actividad</th>
		      <th>Desde</th>
		      <th>Hasta</th>
		      <th>Encargado</th>
		    </tr>
		  </thead>
		  <tbody>
	    <tr>
		     </tr>
		      @for(programa <- programacion){
		    

		   
		     <tr>
              <td>@programa.clave.id_programacion</td>
		      <td>@programa.actividad</td>
		      <td>@programa.getProgramacionI()</td>
		      <td>@programa.getProgramacionF()</td>
		      <td>@programa.encargado.nombreCompleto()</td>
		     </tr>
        }
		                          
		   
		  </tbody>
  </table> 


  @form(routes.proyectos_Controlador.registrarPlanificacion(id,tipo)) {

	
<form action="" method="POST">
	        <div class="form-group">
      <label>Actividad</label>
      @text(formulario("actividad"),"actividad")
      
      <label>Hora Inicial</label>
       @textFecha(formulario("desde"))
      
      <label>Hora final</label>
      @textFecha(formulario("hasta"))

      <label> Coodinador</label>
      @selector2(formulario("persona"),miembros)

    </div>
     <button type="submit" class="btn btn-primary btn-block">Registrar</button>
	</form>  
 }

<legend class="text-center"></legend>
  <a href="@routes.proyectos_Controlador.modificarGeneral(id,tipo)"  class="btn btn-primary  btn-block">Modificación general</a>
  <br>
 

		@if(tipo==1){
		 <a href="@routes.proyectos_Controlador.ListarProyectos" class="btn btn-primary" role="button">Terminar</a>}else{
 <a href="@routes.proyectos_Controlador.ListarEventos" class="btn btn-primary" role="button">Terminar</a>

		 }

	</form>
	
</div>
</body>




}