@(title: String,tipo:Integer)(content: Html)
@import views.html.include._

<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	   <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet"  href="@routes.Assets.at("stylesheets/bootstrap.min.css")">  -->
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/estilos.css")">
      <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
    <link href="@routes.Assets.at("stylesheets/cosmo-bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/estilos-reportes.css")" rel="stylesheet">
@if(tipo==6){

     <link href="@routes.Assets.at("stylesheets/jquery.datetimepicker.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/multiple-select.css")" rel="stylesheet">
	
}
  	
  	<title>@title</title>
  </head>
  @navegacion(tipo)

  @content
  
  
   <!-- Bootstrap JavaScript -->
      	<script src="@routes.Assets.at("javascripts/jquery.js")"></script>
      
      	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    @if(tipo==6){


       <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
       <script src="@routes.Assets.at("javascripts/jquery.datetimepicker.js")"></script>
         <script src="@routes.Assets.at("javascripts/jquery.multiple.select.js")"></script>


      	<script>
    $(function() {
        $('#ms').change(function() {
            console.log($(this).val());
        }).multipleSelect({
            width: '100%',
            selectAll: false
        });
    });

  

    $('.clase_tiempo').datetimepicker();

    
</script>
  }
</html>

