@import views.html.include._

@main("quienes somos",0){
</body>


  <div class="container">
    <div class="navbar-header">

   



<div class="content_white" >
 <img src="@routes.Assets.at("images/gipar logo.png")"></img>
		  <h2>GIPAR</h2>

		  <p>El Grupo de Investigación en Programación, Automatización y Robótica.</p>

		</div>
		<div class="informacion" id="info">
			<label>Vision:</label>
			<p>
				Ser el grupo de investigacion academica mas importante de la region de guayana
			</p> 
			<label>Mision:</label>
			<p>
				El GIPAR es una agrupacion de academica y de inveztigacion que tiene como mision el
				desarrollo de proyectos en las areas de programacion, automatizacion y robotica para
				incrementar la productividad de la comunidad unegistaen ingenieria en informatica
				beneficiando a los miembros de la comunidad universitaria y la colectividad en forma
				eficiente, eficaz y con la calidad necesaria sin la afectacion del medio ambiente.
			</p>

			<label>Valores:</label>	

			<p>Responsabilidad</p>
			<p>Trabajo en equipo</p>
			<p>Compromiso con la comunidad universidad</p>
			<p>Compromiso con la comunidad</p>
			<p>Honestidad</p>
			<p>Excelencia y satisfaccion por el labor cumplida</p>
			<p>Calidad</p>


		</div>

</div>
</div>
  </body>

}